<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'restau/css/signin.css' %}">
    <title>Food delivery signin page</title>
</head>
<body>
    <Section id="signupfirst">
            <div class="topnav">
                <div class="topnav-right close">
                    <div class="toggle-btn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <nav class="navs ">
                        <a href="{% url 'index' %}">HOME</a>
                        <a href="#menu">MENU</a>
                        <a href="{% url 'login' %}">SIGN IN</a>
                        <a href="#contact">CONTACT</a>
                    </nav>
                </div>
                <div class="restau">
                    <span class="name">237 KITCHEN &nbsp;<img src="{% static 'restau/images/237kitc.jpg' %}"></span>
                    <span class="logo">&copy; &nbsp;B WORKS</span>
                </div>
            </div>
            <div class="sec-logo">
                <h1>&copy; &nbsp;B WORKS</h1>
            </div>
            <div class="signup">

                <div class="img">
<!--                    <img src="{% static 'restau/images/signup2.png' %}" alt="signup1">-->
                    <br>
                    <br>
                    <br>
                    <br>
                    <h3>Password Reset Complete</h3>
                    <br>
                    <p>Your password has been set. you may go ahead and log in now.</p>
                </div>
                <div class="signin">
                    <a href="{% url 'login' %}">Login</a>
                </div>
            </div>
    </Section>
    <script src="{% static 'restau/js/bes.js' %}"></script>
</body>
</html>