Hello, {{ name }}

Your Order is being Processed


Order N°: {{orderTime}}
Total Order Amount: ${{amount|floatformat:2}}
Total Watches: {{quantity}}

   Shipping Information
-------------------------

   Country: {{country}}
   State: {{state}}
   City: {{city}}
   Address: {{address}}
   Zip/Postal Code: {{zipcode}}
   Tel Number: {{number}}

Thanks for Trusting us..
We'll make sure you receive your watche(s) on time.

for more info call:

Customer Service
(508) 254-8040
Logistics
(508) 280-8557

EDIFICE®
