<!DOCTYPE html>
<html lang="en sp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="USimages/favicon_2.png">
    <link rel="stylesheet" href="../css/pre-register.css">
    <title>Casio Register</title>
</head>
<body>
    <div class="casio-id">
        <div class="casio-id-entry">
            <div class="casio-id-container">
                <header>
                    <div class="casio-id-header">
                        <div class="casio-id-header-logo">
                            <a href="#">
                                <img src="USimages/casioBlue.png" alt="" width="50">
                            </a>
                        </div>
                    </div>
                </header>
                <main>
                    <article>
                        <div class="casio-id-contents">
                            <h1 style="padding-bottom: 30px;">Register CASIO ID</h1>
                        </div>
                        <section class="casio-id-entry-mail">
                            <div class="casio-id-contents">
                                <h2>Register with email address</h2>
                                <div class="casio-id__contents--btn">
                                    <a href="registerEmail.html">
                                        <button class="casio-id-btn">
                                            CONTINUE
                                                <img src="" alt="">
                                        </button>
                                    </a>
                                </div>
                                <div>
                                    <div class="casio-id-contents-fluid">
                                        <p class="casio-id-guide" style="font-weight: bold;">
                                            <a href="LogIn.html">Already a Member? Log in here</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="casio-id-entry-sns">
                            <div class="casio-id-contents">
                                <h2>Register with a social media account</h2>
                                <ul class="casio-id-sns">
                                    <li class="snslink" id="sns-link-apple">
                                        <a href="registerApple.html" class="casio-id-apple" style="text-decoration: none;">
                                            <p>
                                                <img src="" alt="">
                                                <span>Continue with Apple</span>
                                            </p>
                                        </a>
                                    </li>
                                    <li class="snslink" id="sns-link-facebook">
                                        <a href="#" class="casio-id-facebook"  style="text-decoration: none;">
                                            <p>
                                                <img src="" alt="">
                                                <span>Continue with Facebook</span>
                                            </p>
                                        </a>
                                    </li>
                                    <li class="snslink" id="sns-link-google">
                                        <a href="registerEmail.html" class="casio-id-google"  style="text-decoration: none;">
                                            <p>
                                                <img src="" alt="">
                                                <span>Continue with Google</span>
                                            </p>
                                        </a>
                                    </li>
                                    <li class="snslink" id="sns-link-twiter">
                                        <a href="#" class="casio-id-twiter"  style="text-decoration: none;">
                                            <p>
                                                <img src="" alt="">
                                                <span>Continue with Twitter</span>
                                            </p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </section>
                    </article>
                </main>
                <footer>
                    <div class="casio-id-footer">
                        <div class="casio-id-footer-links">
                            <div class="casio-id-footer-utility">
                                <ul>
                                    <li>
                                        <a href="#" target="_blank" rel="noopener ">Privacy Notice</a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank" rel="noopener ">Cookie policy</a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank" rel="noopener ">What is the CASIO ID</a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank" rel="noopener ">FAQ</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="casio-id-footer-copyright">
                                <a href="#" target="_blank" rel="noopener">© 2022 CASIO COMPUTER CO., LTD.</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</body>
</html>