<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b571473032.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-icon" href="USimages/appleLogo.jfif">
    <link rel="stylesheet" href="../css/registerApple.css">
    <title>Sign in with Apple ID</title>
</head>
<body>
    <header>
        <div class="first-level elements">
            <div class="logo"><!-- APPLE LOGO COMES IN HERE-->
                <img src="USimages/appleLogo.jfif" width="20" alt="">
            </div>
        </div>
        <!--APPLE ID-->
        <div class="content-wrapper">
            <div class="seond-level">
                <div class="apple-id">
                    <h3>
                        <b>Apple ID</b>
                    </h3>
                </div>
                <!--Toggle button-->
                <div class="toggle-btn">
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </header>


    <main>
        <div class="main-child-wrapper">
            <div class="img-paragraph">
                <div class="image">
                    <div class="img-wrapper">
                        <img src="USimages/appleLogo.jfif" width="30" alt="">
                    </div>
                </div>
                <p>Use Your Apple ID to sign in to the CASIO ID Production service app</p>
            </div>
            <div class="input-forgot">
                <form action="" method="POST">
                    <input type="text" required placeholder="Apple ID">
                    <div class="forgot">
                        <a href="#">Forgot Apple ID or Password?</a>
                    </div>
                </form>
                <div class="shakinghands-image">

                </div>
            </div>
            <p>By setting up Sign in with Apple, information about your interactions with Apple and this may be used by Apple to prevent fraud. <a href="#">Find out how data is managed</a>
            </p>
        </div>
    </main>


    <footer>
        <div class="footer-child-wrapper">
            <div class="copyRight">
                <span>Copyright&copy; 2022</span>
                <span>Apple Inc.</span>
                <span>All rights reserved</span>
            </div>
            <div class="confidentiality">
                <span>
                    <a href="#">confidentiality agreement</a>
                </span>
                <span>
                    <a href="#">Use of cookies</a>
                </span>
            </div>
        </div>
    </footer>
</body>
</html>