<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="The Official EDIFICE Site. Metallic analog watches that combine dynamic designs with cutting-edge technology. ">
    <meta name="description" content="The Official EDIFICE Site. Metallic analog watches that combine dynamic designs with cutting-edge technology. EDIFICE is an official partner of Scuderia AlphaTauri">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/usMediaQuerie.css">
    <link rel="icon" type="image/x-icon" href="USimages/favicon.png">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
        </style>
    <title>EDIFICE_CASIO - Available online, newest</title>
</head>
<body>
    <div class="watches-gshock close">
        <div class="container">
            <div class="sub-container">
                <div class="header-fes-toggle-btn">
                    <h2>Watches</h2>
                    <div class="fes-toggle-btn">
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div class="other-links">
                    <a href="#">G-SHOCK Website</a>
                    <a href="#">Store Search</a>
                    <a href="#">Support</a>
                </div>
            </div>
        </div>
    </div>
    <header>
        <div class="head">
            <div class="navs">
                <i>
                    <a class="edifice-casioimages">
                        <img width="100" src="USimages/edifice1.jpg" alt="" >
                        <img width="100" src="USimages/casio.png" alt=""  class="casio">
                    </a>
                </i>
                <div class="other-devices">
                    <i>G-SHOCK</i>
                    <i>WATCHES</i>
                    <i>ELECTRONIC MUSICAL INSTRUMENTS</i>
                    <i>CALCULATORS</i>
                    <i>MEDICAL DEVICES </i>
                </div>
                <i> <input type="search" name="" id="" placeholder="Search..."> <img src="USimages/search.webp" alt="" width="14" class="search"> </i>
                <i class="cart-notification">
                    <b class="notification"></b>
                    <a href="cart.html">
                        <img src="USimages/bag.svg" alt="" width="22">
                    </a>
                </i>
                <i>
                        <img src="USimages/heart.svg" alt="" width="22">
                </i>
                <i>
                    <a href="pre-register.html"> <img src="USimages/login.svg" alt="" width="22"></a>
                </i>
            </div>
            <p class="freeshipping">Free Shipping on Watches, Calculators and Musical Instruments over $99</p>
            <div class="sportcar-image">
                <picture>
                    <source media="(min-width:769px)" Srcset="USimages/background-large.jpeg">
                    <source media="(max-width:768px)" Srcset="USimages/backgroung-small.jpg">
                    <img src="USimages/background-large.jpeg" alt="">
                </picture>
            </div>

        </div>
    </header>
    <div class="ed-suspension-learnmore">
        <div class="ed-suspension">
            <span class="ed">EDIFICE</span>
            <span class="suspension">SUSPENSION ARM DESIGN</span>
            <span class="code">ECB2000</span>
        </div>
        <div class="learnmore">
            <button> <a href="#"> LEARN MORE</a></button>
        </div>
    </div>
    <main>
        <div class="watches-gshockwebsite">
            <div class="watches">
                <p>Watches</p>
            </div>
            <div class="gshockwebsite">
                <a href="#">G-SHOCK Website</a>
                <a href="#">Store Search</a>
                <a href="#">Support</a>
            </div>
            <div class="toggle-btn">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="allNewproducts-filter">
            <div class="allNewproducts">
                <a href="#">All</a>
                <a href="#">Newproducts</a>
                <a class="font-type" href="#">G-SHOCK</a>
                <a class="font-type" href="#">BABY-G</a>
                <a class="font-type" href="#">EDIFICE</a>
                <a class="font-type" href="#">OCEANUS</a>
                <a class="font-type" href="#">OCEANUS</a>
                <a class="font-type" href="#">CASIO</a>
            </div>
            <div class="filter">
                <a href="#"> Filter <img src="USimages/filter.svg" alt="" class="filter-image"> </a>
            </div>
        </div>
        <section>
            <div class="grid-columns" id="shop-items">
                <div id="EDFYHAS-1AI" class="boxes">
                    <div class="new-heart">
                        <p class="availabilty">NEW</p>
                        <img src="USimages/heart.svg" alt="" width="18">
                    </div>
                    <div class="product-image">
                        <img class="image" src="USimages/watch1.png" alt="" width="200" >
                    </div>
                    <div class="brand-id-amount">
                        <p class="product-name" >EDIFICE</p>
                        <B class="product-id">EASHG-A1W</B>
                        <p class="amount">$ 200</p>
                    </div>
                    <div class="buynow">
                       <a href="../casio/checkout.html">
                        <button>BUY <span>NOW</span> </button></a>
                    </div>
                </div>
                <div id="EDFJHAS-1AI" class="boxes">
                    <div class="new-heart">
                        <p class="availabilty">NEW</p>
                        <img src="USimages/heart.svg" alt="" width="18">
                    </div>
                    <div class="product-image">
                        <img class="image" src="USimages/watch2.png" alt="" width="200" >
                    </div>
                    <div class="brand-id-amount">
                        <p class="product-name" >EDIFICE</p>
                        <B class="product-id">EASHG-A1W</B>
                        <p class="amount">$ 200</p>
                    </div>
                    <div class="buynow">
                       <a href="../casio/checkout.html">
                        <button>BUY <span>NOW</span> </button></a>
                    </div>
                </div>
                <div id="EDFLRAS-1AI" class="boxes">
                    <div class="new-heart">
                        <p class="availabilty">NEW</p>
                        <img src="USimages/heart.svg" alt="" width="18">
                    </div>
                    <div class="product-image">
                        <img class="image" src="USimages/watch3.png" alt="" width="200" >
                    </div>
                    <div class="brand-id-amount">
                        <p class="product-name" >EDIFICE</p>
                        <B class="product-id">EASHG-A1W</B>
                        <p class="amount">$ 200</p>
                    </div>
                    <div class="buynow">
                       <a href="../casio/checkout.html">
                        <button>BUY <span>NOW</span> </button></a>
                    </div>
                </div>
                <div id="EDIUHAS-1AI" class="boxes">
                    <div class="new-heart">
                        <p class="availabilty">NEW</p>
                        <img src="USimages/heart.svg" alt="" width="18">
                    </div>
                    <div class="product-image">
                        <img class="image" src="USimages/watch4.png" alt="" width="200" >
                    </div>
                    <div class="brand-id-amount">
                        <p class="product-name" >EDIFICE</p>
                        <B class="product-id">EASHG-A1W</B>
                        <p class="amount">$ 400</p>
                    </div>
                    <div class="buynow">
                       <a href="../casio/checkout.html">
                        <button>BUY <span>NOW</span> </button></a>
                    </div>
                </div>
            </div>
            <div class="links">
                <ol class="end-navs">
                    <li class="items">
                        <a href="#">Home</a>
                    </li>
                    <li class="items">
                        <a href="#">Watches</a>
                    </li>
                    <li class="items">
                        <a href="#">Edifice</a>
                    </li>
                </ol>
            </div>
        </section>
    </main>
    <footer>
        <div class="footer-grids">
            <div class="products shift-inside">
                <ol>
                    <li class="bold-header">
                        <a href="#">Products</a>
                        <div class="footer-toggle-btn toggleBtnRotate">
                            <span></span>
                            <span></span>
                        </div>
                    </li>
                   <div class="products-list description lock">
                     <li><a href="#">Watches</a></li>
                    <li><a href="#"><span>Electronic</span> <span>Musical</span> Instruments</span></a></li>
                    <li><a href="#">Calculators</a></li>
                    <li><a href="#">Medical Devices</a></li>
                   </div>
                </ol>
            </div>
            <div class="products shift-inside">
                <ol>
                    <li class="bold-header">
                        <a href="#">Products</a>
                        <div class="footer-toggle-btn toggleBtnRotate">
                            <span></span>
                            <span></span>
                        </div>
                    </li>
                   <div class="products-list description lock">
                     <li><a href="#">Watches</a></li>
                    <li><a href="#"><span>Electronic</span> <span>Musical</span> Instruments</span></a></li>
                    <li><a href="#">Calculators</a></li>
                    <li><a href="#">Medical Devices</a></li>
                   </div>
                </ol>
            </div>
        </div>
        <div class="follow">
            <span>
                <a href="#"><img src="USimages/fb_icon.png" alt=""></a>
            </span>
            <span>
                <a href="#"><img src="USimages/tw_icon.png" alt=""></a>
            </span>
            <span>
                <a href="#"><img src="USimages/ins.png" alt=""></a>
            </span>
            <span>
                <a href="#"><img src="USimages/youtube_icon.png" alt=""></a>
            </span>
        </div>
        <div class="communcate">
            <span>Privacy Policy</span>
            <span> ADA compliance</span>
            <span>Terms Of sale</span>
            <span>Return Policy</span>
            <span>Site Map</span>
            <span>United States</span>
        </div>
        <div class="copy-right">
            <span>&copy; 2022 CASIO AMERICA, INC.</span>
        </div>
    </footer>
    <script src="../scripts/responsiveness.js" async></script>
    <script src="../scripts/usHome.js" async></script>
</body>
</html>