<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'store/USimages/favicon_2.png' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'store/css/cart.css' %}">
    <title>Shopping Cart</title>
</head>
<body>
    <header>
        <div class="navs">
            <div class="logo">
                <a href="{% url 'us' %}">
                    <img src="{% static 'store/USimages/edifice-logo.jpg' %}" alt="edifice">
                </a>
            </div>
            <div class="cart">
                <div class="bag-number"> <a href="#">
                    <img src="{% static 'store/USimages/bag.svg' %}" alt="">
                    <span class="notification" ></span></a>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="shoppingheader">
            <h2>Shopping Cart</h2>
        </div>
        <div class="division">
            <section id="main">
                 <div class="grid-container" id="product-id-${search.id}">
                    <div class="flex-container">
                        {% for item in items %}
                        <div class="line">
                            <div class="main-section" id="main-section">
                                <div class="image-productid">
                                    <div class="image">
                                        <img src="{{ item.product.imageURL }}" alt="" width="200" heigth="250">
                                    </div>
                                    <div class="productid-qty-trash">
                                        <div class="productid bold-text">{{ item.product.model }}</div>
                                        <div class="decrease-qty-increase">
                                            <span>
                                                <i data-product="{{item.product.id}}" data-action="remove" class="bi bi-dash update-cart"></i>
                                            </span>
                                            <span id="${search.id}" class="quantity">
                                                {{ item.quantity }}
                                            </span>
                                            <span>
                                                <i onclick="increment(${search.id})" data-product="{{item.product.id}}" data-action="add" class="bi bi-plus update-cart"></i>
                                            </span>
                                        </div>
                                        <div class="trash">
                                            <i onclick="removeItem(${id})" class="bi bi-trash3 update-cart " data-product="{{item.product.id}}" data-action="delete"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="price bold-text">
                                    <p>${{ item.product.price|floatformat:2 }}</p>
                                </div>
                        </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </section>
            <div class="sumarry-section" id="summary-section">
                <div class="summary-header bold-text">Summary</div>
                <div class="summary-details">
                    <p class="subtotal">
                        <span>Cart Subtotal: <i class="bi bi-question-circle-fill"></i></span>
                        <span class="bold-text" >${{ order.total_amount|floatformat:2 }}</span>
                    </p>
                    <p class="subtotal">
                        <span>Shipping: <i class="bi bi-question-circle-fill"></i></span>
                        <span>$0.00</span>
                    </p>
                    <p class="subtotal">
                        <span>Tax: <i class="bi bi-question-circle-fill"></i></span>
                        <span>$0.00</span>
                    </p>
                    <p class="subtotal bold-text">
                        <span>Estimated Total</span>
                        <span class="bold-text" >${{ order.total_amount|floatformat:2 }}</span>
                    </p>
                </div>
                <div class="proceedToCheckout-button">
                    <a href="{% url 'checkout' %}">
                        <button>PROCEED TO CHECKOUT</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="order-summary" id="order-summary">
            <div class="summary-header bold-text">Summary</div>
            <div class="summary-details">
                <p class="subtotal">
                     <span>Cart Subtotal: <i class="bi bi-question-circle-fill"></i></span>
                    <span class="bold-text" > ${{ order.total_amount|floatformat:2 }}</span>
                </p>
                <p class="subtotal">
                    <span>Shipping: <i class="bi bi-question-circle-fill"></i></span>
                    <span>$0.00</span>
                </p>
                <p class="subtotal">
                    <span>Tax: <i class="bi bi-question-circle-fill"></i></span>
                    <span>$0.00</span>
                </p>
                <p class="subtotal bold-text">
                    <span>Estimated Total</span>
                    <span class="bold-text" >${{ order.total_amount }}</span>
                </p>
            </div>
            <div class="proceedToCheckout-button">
                <a href="{% url 'checkout' %}">
                    <button>PROCEED TO CHECKOUT</button>
                </a>
            </div>
        </div>
    </main>
    <footer>
        <div class="privacy-terms-cookies">
            <span>Privacy Policy</span>
            <span>Terms of Sale</span>
            <span>Cookie Policy</span>
        </div>
        <div class="copyrights">
            <p>© 2022 CASIO AMERICA, INC.</p>
        </div>
    </footer>
     <script defer src="{% static 'store/scripts/cart2.js' %}" ></script>
     <script defer src="{% static 'store/scripts/base.js' %}" ></script>
</body>
</html>